<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h2>Sentiment Analysis from Social Media comments</h2>
                <p>
                    Analyzing customer experience offers valuable data for Business Intelligence. Especially in e-commerce, where users write reviews about products and services, the analysis of the customers' sentiment towards these entities yields significant insights into potential strengths and weaknesses of the product or service.
                </p>
                <p>
                    The results of our works can be seen on these webpages. You can either explore the raw data or check out the visualizations we created for products and their aspects.
                </p>
                <a href="visualizations"><button type="button" class="btn btn-lg btn-info">Sentiment Visualization</button></a>
                <a href="/data"><button type="button" class="btn btn-lg btn-warning">Browse Data</button></a>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    </body>
</html>